html, body { height: 100%}

body  {
color: white
}

.kek {
	text-align: center; 
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 45px;
}
	
.upper_text {
	text-align:left;
	border: 2px black; 
	padding: 5px;
	font-size: 25px;
}
.post {
  padding-bottom: 500px;
  background: 50% 50% / cover no-repeat;
}

.stick {
  background-attachment: fixed;
}

#post1 {
  background-image: url('T1.PNG');
}

#post2 {
  background-image: url("Black-DarkBlueGrid.jpg");
}

#post3 {
  background-image: url('t3.png');
}

#post4 {
  background-image: url("Black-DarkBlueGrid.jpg");
}

#post5 {
  background-image: url("Blackness.jpg");
}