@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
html, body { height: 100%}

body  {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica', sans-serif;
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}


.upper_text {
	padding 10px 0;
	text-align: left;
}
.post {
  padding: 5em 0;
  background: 50% 50% / cover no-repeat;
}

.stick {
  background-attachment: fixed;
}

#post1 {
  background-image: url("Blackness.jpg");
  text-align: left;
}

#post2 {
  background-image: url("t2.PNG");
}

#post3 {
  background-image: url("Blackness.jpg");
}

#post4 {
  background-image: url("https://unsplash.it/1024/768?image=967");
}

#post5 {
  background-image: url("https://unsplash.it/1024/768?image=815");
}